.container{
	margin-top:10px;
}
.mostDuplicate{
	background-color: rgba(0, 184, 255, 0.48);
}
td {
   display: table-cell;
}
thead>tr>th{
	background-color: rgba(255, 235, 0, 0.87);
}
#div_requeriment_d{
	display: none;
}
textarea{
	height: 200px !important;
	resize: none;
}
.bolder{
	font-weight: bolder;
}
.cursor{
	cursor: pointer;
}
img{
	width: 6%;
}
#dialog{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(164, 169, 166, 0.69);
}
#dialog>.container{
	margin-top: 20px;
	min-height: 100px;
	max-height: 100%;
	background-color: #FFF;
	padding: 10px;
	overflow: auto;
}
.border-bottom{
	border-bottom: solid 1px #aab3aa;
}
.dialog-title{
	position: fixed;
    background: #FFF;
    margin-top: -10px;
    padding-top: 7px;
    height: 33px;
    padding-bottom: 5px;
    width: 84%;
}
#set_duplicates{
	margin-top: 38px;
}
tbody>tr:hover{
	background-color: rgba(147, 223, 253, 0.48);
}